<%= form_for @product do |f| %>
    <div class="form-group">
        <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.text_field :picture_url, placeholder: 'Pricture URL', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.text_field :price, placeholder: 'Price', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @product.category_id), include_blank: true, class: 'form-control' %>
    </div>
    <%= submit_tag 'Save', class: 'btn btn-default' %>
<% end %>