<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object product-main" src="<%= @product.picture_url %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%= @product.name %></h1>
    <%= @product.description %>
    <hr>
    <h4>Price: $<%= @product.price %></h4>
    <%= link_to 'Edit', "/products/#{@product.id}/edit", class: 'btn btn-default' %>
  </div>
</div>

<%= render 'review' %>

<% @product.reviews.order(created_at: :desc).each do |review| %>
  <div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <% review.rating.times do %>
          <i class="fa fa-star"></i>
        <% end %>
      </div>
      <div class="col-md-6 text-right">
        <%= review.created_at %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h4><%= review.username %></h4>
    <%= review.text %>
  </div>
</div>
<% end %>